<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="styles/mainstyle.css" th:href="@{styles/mainstyle.css}">
    <link rel="stylesheet" href="styles/account.css" th:href="@{styles/account.css}">
    <link rel="stylesheet" href="styles/form.css" th:href="@{styles/form.css}">
</head>
<body>
<div class="header">
    <div class="menu-container">
        <nav>
            <h3 class="logo">BANK</h3>
            <ul>
                <li><a class="current" href="#">Счета</a></li>
                <li><a href="#">Кредиты</a></li>
                <li><a href="#">Заявки на кредитование</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="body">
    <div style="width:80%; margin-top: 50px;">
        <form class="form" th:action="@{/accounts/create}" method="post">
            <h1 class="form_title" style="margin-bottom: 20px">Открыть счет</h1>
            <label class="static_label">Валюта счета</label>
            <div class="form_group">
                    <select class="form_input" id="currency" name="currencyId">
                        <option th:each="currency : ${currencies}"
                                th:value="${currency.id()}"
                                th:selected="false"
                                th:text="${currency.code()} +' - '+ ${currency.name()}">Валюта</option>
                    </select>
            </div>
            <button class="form_button" type="submit">Открыть</button>
        </form>
    </div>
    <div style="width: 80%; margin-top: 50px">
        <h1 class="form_title" style="text-align: left; margin: 0 0 20px 10px">Счета</h1>
        <div class="account-container" th:each="account : ${accounts}">
            <div style="width: 70%">
                <span style="font-weight: bold" th:text="${account.iban()}">dummy iban</span>
            </div>
            <div>
                <span style="color: rgb(221,189,109)" th:text="|${account.amount()}  ${account.currency().toUpperCase()} |">dummy amount</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>