<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <link rel="stylesheet" href="styles/form.css" th:href="@{styles/form.css}">
    <style>
        body {
            background-color: rgb(242,241,237);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
<form class="form" th:action="@{/login}" method="post">
    <h1 class="form_title">Авторизация</h1>
    <div class="form_group">
        <input type="text" class="form_input" id="username" name="username" placeholder=" " required autofocus>
        <label class="form_label">Логин</label>
    </div>
    <div class="form_group">
        <input type="password" class="form_input" id="password" name="password" placeholder=" ">
        <label class="form_label">Пароль</label>
    </div>

    <div style="color: red; margin-bottom: 20px; margin-top: -25px; font-size: 12px" th:if="${param.error}">
        Авторизация не удалась!
    </div>

    <button class="form_button" type="submit">Войти</button>
    <a style="margin-left: 90px; " href="" th:href="@{/login/registration}">Регистрация</a>
</form>
</body>
</html>