.credit-container {
    height: auto;
    width: 900px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    /*border: 1px solid rgb(243,214,121,0);*/
    box-shadow: 0 4px 16px rgb(198,165,95,0.2);
    border-radius: 10px;
    /*border-color: rgb(243,214,121,0);*/
    display: block;
    align-items: center;
}
.credit-container > div {
    display: flex;
    justify-content: space-between;
    width:100%;
    text-align: left;
    padding: 10px;
}

.credit-container > div > h3,h4 {
    font-weight: normal;
}

.credit-container > div > h1 {
    color: rgb(221,189,109);
    font-weight: normal;
    width: 100%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}